<header class="section-dark sticky-top text-center py-3">
  <div class="container-fluid d-flex flex-column flex-md-row justify-content-center justify-content-md-between">
    <a class="masthead-brand" href="{{ '/en/' | prepend: site.baseurl }}">{{ site.title }}</a>
    <nav class="nav nav-masthead justify-content-center">
{% if page.url == "/en/" %}
      <a class="nav-link active" href="{{ '/en/' | prepend: site.baseurl }}">Home <span class="sr-only">(current)</span></a>
{% else %}
      <a class="nav-link" href="{{ '/en/' | prepend: site.baseurl }}">Home</a>
{% endif %}
{% for item in site.data.en/menu %}
  {% if page.url contains item.url %}
      <a class="nav-link active" href="{{ item.url | prepend: site.baseurl }}">{{ item.text }} <span class="sr-only">(current)</span></a>
  {% else %}
      <a class="nav-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.text }}</a>
  {% endif %}
{% endfor %}
      <a class="nav-link keep-location-search" href="{{ page.url | replace: '/en/', '/' | prepend: site.baseurl }}"><i class="fas fa-globe" aria-hidden="true"></i> DE</a>
    </nav>
  </div>
</header>
