// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$primary: #2980b9;
$secondary: #27ae60;
$dark: #34495e;
$headings-font-weight: 700;
